<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragments="header">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" type="text/css" media="all" th:href="@{css/bootstrap.css}" />

    <!--<link rel="stylesheet" th:href="@{https://pro.fontawesome.com/releases/v5.7.0/css/all.css}" type="text/css">-->
    <!-- Custom styles for this template -->
    <link th:href="@{css/blog-home.css}" href="../../static/css/blog-home.css" type="text/css" rel="stylesheet">

</head>
</div>