<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
<style>

</style>
</head>
<body>
<header>
<div th:insert="fragments/header.html :: header"></div>
</header>


  <div class="container">

        <button style="float: right; margin: 2px; background-color: hotpink; border-color: hotpink " onclick="window.location.href='/login'" type="button" class="btn btn-primary">Login</button>
    <div class="row">

      <div class="col-md-8">
        <h1 class="my-4">Sofie & Christines blog</h1>
        <h2> Velkommen til</h2>

        <div class="card mb-4" th:each ="blog : ${blogs}">
          <div class="card-body">
            <h2 th:text="${blog.title}"></h2>
            <p th:text="${blog.text}"></p>
          </div>
        </div>


      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">




      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Christine og Sofie 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
